#Чтобы избежать проблем
*~
.*.swp
.*.swo
.*.swm
.DS_Store
Thumbs.db

*.log
*.tmp
*.pid

pkg/
src/
*.pkg.tar.xz
*.src.tar.gz

*.db
*.files
*.db.tar
*.db.tar.gz
*.files.tar.gz

/pkg/
/pkg-src/

/userconfig/

/node_modules/
/vendor/
/.venv/

.cache/
/tmp/
/temp/

*.pkg
*.xz
*.gz
*.tar

todo
